Lets first get the data from the created file

In [164]:
import ast
import pandas as pd

df_captions = pd.read_csv('captions.csv', index_col=0)


def string_to_list_of_lists(string):
    return [item.strip() for item in string.replace("[", "")
            .replace("]", "").replace("'", "").replace('"', "")
            .split(",")]


df_captions['captions'] = df_captions['captions'].apply(string_to_list_of_lists)

df_captions.head()

                                                   captions
index
35772577  [a blurry image of a person walking across a s...
35997921  [a very blurry view of a green street sign, th...
35897205  [an open balcony is seen from outside near som...
35835335         [a large white house with lots of windows]
35999645  [a sign on a building displays information to ...

In [165]:
import pandas as pd
from collections import Counter
import numpy as np
import matplotlib.pyplot as plt


def parse_captions(df):
    # Flatten the list of captions into a single list
    captions = [caption for caption_list in df['captions'] for caption in caption_list]
    # Join the captions into a single string and split by space to get words
    words = " ".join(captions).split()
    # Use Counter to calculate the frequency of each word
    word_freq = Counter(words)
    return dict(word_freq)

word_freq = parse_captions(df_captions)

# Sort the words by frequency
sorted_word_freq = sorted(word_freq.items(), key=lambda x: x[1], reverse=True)

# Create a dataframe with the sorted words and their frequencies
df_word_freq = pd.DataFrame(sorted_word_freq, columns=['word', 'freq'])


df_word_freq.head(50)

         word  freq
0           a   579
1         and   215
2        with   207
3          of   195
4         the   166
5        room   165
6          an   122
7          in   101
8          is    98
9      blurry    78
10     living    69
11      white    64
12      image    57
13      large    57
14        has    54
15    kitchen    48
16        bed    48
17      empty    46
18       this    46
19      house    44
20    bedroom    43
21         on    40
22   bathroom    36
23      table    32
24      photo    31
25       area    30
26  furniture    27
27       some    27
28        two    27
29       view    26
30       that    25
31         to    25
32     chairs    25
33       wood    24
34     floors    24
35     window    24
36     wooden    23
37         it    23
38      there    22
39    picture    20
40   building    20
41     dining    20
42      small    20
43       sink    19
44       door    19
45       very    18
46      trees    18
47      walls    18
48     modern    18
49      floor    17

In [166]:
stop_words = [
    "a", "an", "and", "are", "as", "at", "be", "by", "for", "from",
    "has", "he", "in", "is", "it", "its", "of", "on", "that", "the",
    "to", "was", "were", "will", "with"
]

# Remove the stop words from the dataframe and put them in a dataframe of their own
df_stop_words = df_word_freq[df_word_freq['word'].isin(stop_words)]
df_word_freq = df_word_freq[~df_word_freq['word'].isin(stop_words)]
df_word_freq = df_word_freq.reset_index(drop=True)

print(df_word_freq)
print(df_stop_words)

         word  freq
0        room   165
1      blurry    78
2      living    69
3       white    64
4       image    57
..        ...   ...
485    taking     1
486  driveway     1
487   housing     1
488        3c     1
489      trim     1

[490 rows x 2 columns]
     word  freq
0       a   579
1     and   215
2    with   207
3      of   195
4     the   166
6      an   122
7      in   101
8      is    98
14    has    54
21     on    40
30   that    25
31     to    25
37     it    23
64   from    10
70    for     9
73    are     9
80     by     8
150    as     3
207    at     2
265    be     1