## Problem

Describe the problem here :

## Lets get started

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn as sk


# get the data from the csv file
X_train = pd.read_csv('./data/X_train_J01Z4CN.csv')
print(X_train.shape)

prices = pd.read_csv('./data/y_train_OXxrJt1.csv')

(37368, 27)

In [2]:
X_train.head()

,id_annonce,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,...,nb_parking_places,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors
0,35996577,appartement,43.643880,7.117183,villeneuve-loubet,6270,63.0,NaN,NaN,NaN,...,0.0,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,35811033,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,...,0.0,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,35731841,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,...,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,35886765,maison,47.289292,-1.878805,cordemais,44360,142.0,NaN,764.0,217.0,...,0.0,1.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
4,35781137,appartement,45.718992,4.844234,lyon-7eme,69007,88.0,3.0,NaN,NaN,...,0.0,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
prices.head()

   id_annonce     price
0    35996577  355000.0
1    35811033  190000.0
2    35731841   39000.0
3    35886765  299000.0
4    35781137  478000.0

In [4]:
# merge the two dataframes by id_annonce 
df = pd.merge(X_train, prices, on='id_annonce')

# now drop the id_annonce column
df.drop('id_annonce', axis=1, inplace=True)

df.head()

,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,floor,land_size,energy_performance_value,energy_performance_category,...,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price
0,appartement,43.643880,7.117183,villeneuve-loubet,6270,63.0,NaN,NaN,NaN,NaN,...,0.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,355000.0
1,appartement,45.695757,4.895610,venissieux,69200,90.0,3.0,NaN,223.0,D,...,0.0,8.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,190000.0
2,maison,47.966791,-1.220451,moutiers,35130,61.0,NaN,370.0,NaN,NaN,...,0.0,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,39000.0
3,maison,47.289292,-1.878805,cordemais,44360,142.0,NaN,764.0,217.0,D,...,1.0,8.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,299000.0
4,appartement,45.718992,4.844234,lyon-7eme,69007,88.0,3.0,NaN,NaN,NaN,...,1.0,5.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,478000.0

In [5]:
# get types of each column
# print(df.dtypes)

# get column names for numerical and categorical columns
num_cols = df._get_numeric_data().columns
cat_cols = list(set(df.columns) - set(num_cols))

print(cat_cols)
print(num_cols)

['city', 'exposition', 'energy_performance_category', 'property_type', 'ghg_category']
Index(['approximate_latitude', 'approximate_longitude', 'postal_code', 'size',
       'floor', 'land_size', 'energy_performance_value', 'ghg_value',
       'nb_rooms', 'nb_bedrooms', 'nb_bathrooms', 'nb_parking_places',
       'nb_boxes', 'nb_photos', 'has_a_balcony', 'nb_terraces', 'has_a_cellar',
       'has_a_garage', 'has_air_conditioning', 'last_floor', 'upper_floors',
       'price'],
      dtype='object')

In [6]:
# check for missing values
print((df.isnull().sum())/len(df))

property_type                  0.000000
approximate_latitude           0.000000
approximate_longitude          0.000000
city                           0.000000
postal_code                    0.000000
size                           0.013702
floor                          0.739269
land_size                      0.583039
energy_performance_value       0.489724
energy_performance_category    0.489724
ghg_value                      0.504121
ghg_category                   0.504121
exposition                     0.756637
nb_rooms                       0.041908
nb_bedrooms                    0.073137
nb_bathrooms                   0.355197
nb_parking_places              0.000000
nb_boxes                       0.000000
nb_photos                      0.000000
has_a_balcony                  0.000000
nb_terraces                    0.000000
has_a_cellar                   0.000000
has_a_garage                   0.000000
has_air_conditioning           0.000000
last_floor                     0.000000
upper_floors                   0.000000
price                          0.000000
dtype: float64

Here i'll start first with a model where i drop columns with more that 70% missing values

In [7]:
threshold = 0.7

missing_values_percent = (df.isnull().sum())/len(df)

columns_to_drop = missing_values_percent[missing_values_percent > threshold].index

df.drop(columns_to_drop, axis = 1, inplace = True)

## Exploratory Data Analysis

In [18]:
from sklearn.model_selection import train_test_split
train, test = train_test_split(df, test_size=0.2, random_state=42)

# this is because train_test_split returns a list and we need a dataframe
train = pd.DataFrame(train)
test = pd.DataFrame(test)

train

,property_type,approximate_latitude,approximate_longitude,city,postal_code,size,land_size,energy_performance_value,energy_performance_category,ghg_value,...,nb_boxes,nb_photos,has_a_balcony,nb_terraces,has_a_cellar,has_a_garage,has_air_conditioning,last_floor,upper_floors,price
23985,maison,48.728440,2.418010,villeneuve-le-roi,94290,175.0,347.0,229.0,D,NaN,...,0.0,9.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,556500.0
20903,appartement,47.700325,7.299296,zillisheim,68720,80.0,NaN,52.0,B,6.0,...,0.0,5.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,266500.0
34264,terrain,48.002677,2.530489,ladon,45270,1000.0,NaN,NaN,NaN,NaN,...,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,56000.0
19865,appartement,48.630255,2.452693,evry,91000,36.0,NaN,NaN,NaN,NaN,...,1.0,8.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,150071.0
12403,maison,43.381364,3.187265,lignan-sur-orb,34490,280.0,625.0,149.0,C,35.0,...,1.0,8.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,551200.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16850,appartement,43.702502,7.253023,nice,6300,114.0,NaN,167.0,D,39.0,...,0.0,5.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1290000.0
6265,maison,44.265965,4.518505,salazac,30760,110.0,629.0,NaN,NaN,NaN,...,0.0,6.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,255600.0
11284,maison,43.716703,1.433648,gratentour,31150,85.0,NaN,NaN,NaN,NaN,...,0.0,8.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,278000.0
860,maison,45.177145,4.816430,saint-vallier,26240,140.0,2939.0,NaN,NaN,NaN,...,0.0,16.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,329000.0
15795,divers,45.507019,4.312019,la-fouillouse,42480,16682.0,217.0,NaN,NaN,NaN,...,0.0,5.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,260000.0